* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

body {
  background-color: black;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  /* background-color: gold; */
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 80px;
  margin-bottom: 40px;
  color: white;
  text-shadow: 2px 2px 2px red;
}
/* HEADER */

.header-div {
  width: 100%;
  height: 500px;
}

.header-div-top {
  width: 100%;
  height: 25%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
}

.header-div-top input {
  width: 30%;
  height: 60%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 1.2rem;
  outline: none;
}

.link-button {
  width: 15%;
  height: 50%;
}

.header-div-top button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: #ff0000;
  color: white;
  font-size: 1rem;
}

.header-logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.link-logo {
  width: 20%;
}

.logo-top {
  width: 70%;
  height: 45%;
  margin-bottom: 10px;
}
.logo-bottom {
  width: 70%;
  height: 30%;
}

.header-div-bottom {
  width: 100%;
  height: 75%;
  background-image: url(./images/marvel.jpg);
  background-size: cover;
  background-position: top;
}

.header-pagination {
  /* background-color: gold; */
  width: 40%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-filters {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: white;
  border-radius: 5px;
  border: 3px red solid;
}

.header-labels {
  color: white;
}

/* PAGE CHARACTER */

.all-characters {
  /* background-color: gold; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.character {
  width: 31%;
  height: 500px;
  /* border: 2px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 10px;
  background-color: white;
  /* background-color: #ff0000; */
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ff0000;
  text-decoration: none;
}

.character-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  /* background-color: pink; */
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 2px 2px 2px black;
}

.character-img {
  width: 100%;
  height: 50%;
  /* border: 4px blue solid; */
}

.character-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.character-icon-heart {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  color: #ff0000;
}

.character-favorite {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gold;
  border-radius: 10px;
  padding: 3px;
  background-color: black;
  color: white;
}

.character-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: 30%;
  /* background-color: green; */
  font-size: 1rem;
  line-height: 20px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  color: black;
}

.character-description::-webkit-scrollbar {
  display: none;
}

/* PAGE COMICS  */

.all-comics {
  /* background-color: gold; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comics {
  width: 31%;
  height: 500px;
  /* border: 2px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 10px;

  background-color: #ff0000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px white;
}

.comics-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 10%;
  /* background-color: pink; */
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.comics-img {
  width: 100%;
  height: 40%;
  /* border: 4px blue solid; */
}

.comics-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.comics-icon-heart {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  color: #ff0000;
}

.comics-favorite {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 3px;
}

.comics-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: 40%;
  /* background-color: green; */
  font-size: 1rem;
  line-height: 20px;
  overflow: auto;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.comics-description::-webkit-scrollbar {
  display: none;
}

/* COMICS WITH YOUR CHARACTER PAGE  */

.comic-with-character-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: red; */
}
.comic-with-character-principal-img {
  width: 50%;
  margin: 0 auto;
  height: 400px;
  object-fit: cover;
  margin-bottom: 80px;
  box-shadow: 2px 2px 2px #ff0000;
  border-radius: 5px;
}

.all-comic-with-character {
  /* background-color: gold; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comic-with-character {
  width: 31%;
  height: 500px;
  /* border: 2px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 10px;
  background-color: white;
  /* background-color: #ff0000; */
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ff0000;
  text-decoration: none;
}

.comic-with-character-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  /* background-color: pink; */
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 2px 2px 2px black;
}

.comic-with-character-img {
  width: 100%;
  height: 40%;
  /* border: 4px blue solid; */
}

.comic-with-character-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.comic-with-character-descitpion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: 30%;
  font-size: 1rem;
  line-height: 20px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  color: black;
  /* background-color: green; */
}

.comic-with-character-descitpion::-webkit-scrollbar {
  display: none;
}
