* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.chargement {
  color: white;
  margin: 40px;
}

body {
  background-color: black;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 80px;
  margin-bottom: 40px;
  color: white;
  text-shadow: 2px 2px 2px red;
}
/* HEADER */

.header-div {
  width: 100%;
  height: 500px;
}

.header-div-top {
  width: 100%;
  height: 25%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 0;
}

.header-div-top-left {
  display: flex;

  width: 50%;
  height: 100%;
}

.header-div-top-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header-div-top input {
  width: 60%;
  height: 60%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 1.2rem;
  outline: none;
  margin-right: 10px;
}

.link-button {
  width: 18%;
  height: 40%;
}

.button-signout {
  width: 20%;
  height: 40%;
}

.header-div-top button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  background-color: #ff0000;
  color: white;
  font-size: 1rem;
  font-size: 0.8rem;
}

.header-logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.link-logo {
  width: 50%;
}

.logo-top {
  width: 70%;
  height: 45%;
  margin-bottom: 10px;
}
.logo-bottom {
  width: 70%;
  height: 30%;
}

.header-div-bottom {
  width: 100%;
  height: 75%;
  background-image: url(./images/marvel.jpg);
  background-size: cover;
  background-position: top;
}

.header-pagination {
  margin: 0 auto;
  width: 50%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.pagination {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-filters {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: white;
  border-radius: 5px;
  border: 2px red solid;
  margin: 10px;
}

.header-labels {
  color: white;
  text-align: center;
}

/* PAGE CHARACTER */

.all-characters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.big-card {
  width: 31%;
  height: 500px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ff0000;
  text-decoration: none;
  border: 4px black solid;
}

.character {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.character-favorite {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 3px;
  background-color: white;
  border: 1px black solid;
  color: #ff0000;
  padding: 10px;
}

.character-favorite:hover {
  cursor: pointer;
}

.character-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  font-size: 1.3rem;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 2px 2px 2px black;
}

.character-img {
  width: 100%;
  height: 40%;
}

.character-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.character-icon-heart {
  width: 50%;
  font-size: 1.5rem;
  color: black;
}

.character-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: 30%;
  font-size: 1rem;
  line-height: 20px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  color: black;
}

.character-description::-webkit-scrollbar {
  display: none;
}

/* PAGE COMICS  */

.all-comics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.comics {
  width: 31%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 10px;

  background-color: #ff0000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px white;
}

.comics-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 12%;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.comics-img {
  width: 100%;
  height: 40%;
}

.comics-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.comics-icon-heart {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  color: black;
}

.comics-favorite {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.comics-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: 40%;
  font-size: 1rem;
  line-height: 20px;
  overflow: auto;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}

.comics-description::-webkit-scrollbar {
  display: none;
}

/* COMICS WITH YOUR CHARACTER PAGE  */

.comic-with-character-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.comic-with-character-principal-img {
  width: 50%;
  margin: 0 auto;
  height: 400px;
  object-fit: cover;
  margin-bottom: 80px;
  box-shadow: 2px 2px 2px #ff0000;
  border-radius: 5px;
}

.all-comic-with-character {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.comic-with-character {
  width: 31%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ff0000;
  text-decoration: none;
}

.comic-with-character-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 2px 2px 2px black;
}

.comic-with-character-img {
  width: 100%;
  height: 40%;
}

.comic-with-character-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.comic-with-character-descitpion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: 30%;
  font-size: 1rem;
  line-height: 20px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  color: black;
}

.comic-with-character-descitpion::-webkit-scrollbar {
  display: none;
}

/* ROUTE SIGNUP */

.signup-page {
  background-color: black;
  height: 700px;
}

.signup-page form {
  margin-top: 20px;
  padding: 30px;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ff0000;
}

.signup-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 10%;
  border-bottom: 1px #ff0000 solid;
}

.signup-div input {
  border: none;
  height: 60%;
  border-radius: 5px;
  opacity: 0.7;
  outline: none;
}

.signup-div label {
  font-size: 1.2rem;
  color: #ff0000;
}

.signup-page button {
  width: 50%;
  height: 10%;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
  background-color: #ff0000;
  box-shadow: 2px 2px 2px black;
}

.signup-end {
  color: #ff0000;
}

/* ROUTE LOGIN */

.login-page {
  background-color: black;
  height: 500px;
}

.login-page form {
  margin-top: 20px;
  padding: 30px;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ff0000;
}

.login-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 10%;
  border-bottom: 1px #ff0000 solid;
}

.login-div input {
  border: none;
  height: 60%;
  border-radius: 5px;
  opacity: 0.7;
  outline: none;
}

.login-div label {
  font-size: 1.2rem;
  color: #ff0000;
}

.login-page button {
  width: 50%;
  height: 15%;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
  background-color: #ff0000;
  box-shadow: 2px 2px 2px black;
}

.login-end {
  color: #ff0000;
}

/* FAVORITE PAGE  */

.favorite-comics {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 10px;
  padding: 30px;
}

.favorite-characters {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  padding: 30px;
}

.favorite-comic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31%;
  height: 450px;
  border: 2px red solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px black;
}

.favorite-character {
  width: 31%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px red solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px black;
}

.favorite-comic-name {
  margin-top: 10px;
  width: 100%;
  height: 12%;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #ff0000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.favorite-comic-img {
  width: 100%;
  height: 40%;
}

.favorite-comic-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.favorite-comic-description {
  width: 100%;
  height: 40%;
  overflow: auto;
  margin-top: 20px;
}

.favorite-comic-description::-webkit-scrollbar {
  display: none;
}

.favorite-character-name {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  color: #ff0000;
}

.favorite-character-img {
  width: 100%;
  height: 40%;
}

.favorite-character-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.favorite-character-description {
  width: 100%;
  height: 40%;
  overflow: auto;
  margin-top: 20px;
}

.favorite-character-description::-webkit-scrollbar {
  display: none;
}

/* MEDIA QUERIES  */

@media (max-width: 765px) {
  /* HEADER */

  .header-div-top {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header-div-top-left {
    width: 100%;
    height: 50%;
  }

  .header-div-top-right {
    height: 50%;
    width: 100%;
  }

  .link-button {
    width: 15%;
    height: 90%;
  }

  .button-signout {
    width: 15%;
    height: 90%;
  }

  h2 {
    margin-top: 150px;
  }

  .logo-top {
    object-fit: contain;
  }

  .header-pagination {
    height: 100px;
  }

  .header-filters {
    height: 180px;
  }

  .login-page form {
    width: 90%;
  }

  .signup-page form {
    width: 90%;
  }
}

@media (max-width: 610px) {
  /* CHARACTER PAGE */

  .big-card {
    width: 45%;
    height: 400px;
  }

  /* COMICS PAGE  */

  .comics {
    width: 45%;
    height: 400px;
  }

  /* COMICS WITH YOUR CHARACTER PAGE  */
  .comic-with-character-principal-img {
    height: 300px;
  }

  .cwc-h2 {
    margin: 60px 20px;
  }

  .comic-with-character {
    width: 45%;
    height: 400px;
  }

  /* FAVORITE PAGE  */

  .favorite-comic {
    width: 45%;
    height: 400px;
  }
  .favorite-character {
    width: 45%;
    height: 400px;
  }

  .logo-top {
    object-fit: contain;
  }

  .signup-div {
    width: 80%;
  }
  .login-div {
    width: 80%;
  }
}

@media (max-width: 450px) {
  /* CHARACTER PAGE */

  .big-card {
    width: 80%;
    height: 450px;
  }

  /* COMICS PAGE  */

  .comics {
    width: 80%;
    height: 450px;
  }

  /* COMICS WITH YOUR CHARACTER PAGE  */
  .comic-with-character-principal-img {
    height: 300px;
  }

  .cwc-h2 {
    margin: 60px 20px;
  }

  .comic-with-character {
    width: 80%;
    height: 450px;
  }

  /* FAVORITE PAGE  */

  .favorite-comic {
    width: 80%;
    height: 450px;
  }
  .favorite-character {
    width: 80%;
    height: 450px;
  }

  .link-button {
    width: 18%;
    height: 90%;
  }

  .button-signout {
    width: 18%;
    height: 90%;
  }
  .header-div-top button {
    font-size: 0.7rem;
  }
}

@media (max-width: 380px) {
  /* HEADER */

  .link-button {
    width: 19%;
    height: 90%;
  }

  .link-button button {
    font-size: 0.8rem;
  }

  .button-signout button {
    font-size: 0.8rem;
  }

  .button-signout {
    height: 100%;
  }

  .chargement {
    color: white;
    margin: 120px;
  }

  .signup-div {
    width: 100%;
  }
  .login-div {
    width: 100%;
  }

  .header-div-top button {
    font-size: 0.7rem;
  }
}
